<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting label="32001" type="slider" id="Time" default="50" range="4,4,160" option="int" />
    <setting label="32002" type="labelenum" id="Sorting" values="None|Time|Interleave" default="Interleave"/>	
    <setting label="32003" type="bool" id="DebugMode" default="false"/>
	<setting label="32101" type="text" id="Feed1" default=""/>
</settings>
